.link {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    text-decoration: none;
    color: white;
    float: right;
}

link:visited {
    text-decoration: none;
    color: white;
}
link:focus {
    text-decoration: none;
    color: white;
}
link:hover,
a:active {
    text-decoration: none;
    color: white;
}

.navbar {
    background-color: #050314;
    padding: 2rem;
}

.signUpButton {
    border: 0.1rem solid white;
    border-radius: 5%;
}

.signUpButton:hover {
    background-color: white;
    color: #050314;
}
