.ReactModal__Overlay {
    opacity: 0.3;
    transition: opacity 1250ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
    color: #050314;
}
